<div class="row">
  <div id="filtered_cheeses"><%= render :partial => 'cheeses' %></div>


  <div class="span3 rating-form pagination-centered">
    <h2>Rate a cheese!</h2>
    <%= form_for @rating do |f| %>
      <p>
       
        <%= f.select :cheese, (Cheese.all - @cheeses).map {|c| [c.name, c.id] } %>
      </p>
      <p>
       
        <%= f.text_area :text_rating, :rows => 3, :placeholder => "Rate your cheese!" %>
      </p>
      <p>
        <%= f.select :star_rating, (1..5).map {|num| [num.to_s + ' Stars', num]}%>
      </p>
      <p>
        
        <%= f.label :is_favourite do %>
          It's one of my favourites
        <%= f.check_box :is_favourite %>
        
        <% end %>
      </p>
      <p><%= f.submit "Rate it!", :class => 'btn btn-large btn-success pagination-centered' %></p>
    <% end %>
  </div>
</div>




